<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAN Multiple Prediction</title>
</head>
<body>
    <h1 class="text-center">Multiple Image Prediction</h1>
    <a class="btn btn-primary" href="/" style="margin: top 100px;margin-left: 1300px;">Go Back</a>
    <div class="img_container">
        {% for imgs in imgs_path %}
            <img src="{{ url_for('static', filename='image_' + loop.index|string + '.png') }}" alt="Generated Image">
        {% endfor %}
    </div>

</body>
</html>